@-webkit-keyframes artistAnimation {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@-moz-keyframes artistAnimation {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@-o-keyframes artistAnimation {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@keyframes artistAnimation {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}

.artists {
  position: relative;
  height: 17em;
  margin-top: -2.6em;
  padding-top: 7em;
  transform: skewY(23deg);
  -webkit-animation: artistAnimation 180s ease infinite;
  -moz-animation: artistAnimation 180s ease infinite;
  -o-animation: artistAnimation 180s ease infinite;
  animation: artistAnimation 180s ease infinite;
  text-align: center;
  color: #fff;
  background: linear-gradient(270deg, #31b80a, #187699, #4423ab, #9b238d, #a3440d, #9c123e);
  background-size: 1200% 1200%;

  &__main {
    transform: translateZ(0) skewY(-23deg);
    text-transform: uppercase;
    text-shadow: 10px 10px 0px rgba(0, 0, 0, .4);
    font-family: 'Intro Inline';
    font-size: 3.5em;
    font-weight: 100;
  }
}

@media (max-width: 1200px) {
  .artists {
    margin-top: -7.5em;
  }
}

@media (max-width: 1000px) {
  .artists {
    margin-top: -6.5em;
  }
}

@media (max-width: 760px) {
  .artists {
    height: 12em;
    padding-top: 10em;
    transform: translateZ(0) skewY(46deg);

    &__main {
      transform: translateZ(0) skewY(-46deg);
      font-size: 2em;
    }
  }
}
