@-webkit-keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}

.calendar {
  position: relative;
  z-index: 200;
  height: 65em;
  margin-top: -4.7em;
  margin-bottom: -10em;
  padding-top: 9em;
  transform: skewY(-16deg);
  -webkit-animation: AnimationName 180s ease infinite;
  -moz-animation: AnimationName 180s ease infinite;
  -o-animation: AnimationName 180s ease infinite;
  animation: AnimationName 180s ease infinite;
  color: #fff;
  background: linear-gradient(to right, #cf333b , #cf590d);
  background: linear-gradient(270deg, #cf5c08, #cf1c57, #fcbe02, #8ffb0b, #20a2d8, #820cfc, #e322ca, #fc8709);
  background-size: 1600% 1600%;

  .block {
    transform: translateZ(0) skewY(16deg);
  }

  &-item {
    position: relative;
    display: inline-block;
    width: 30%;
    margin: 0 1%;
    text-align: center;
    vertical-align: top;

    &__main {
      margin-bottom: 1em;
      padding-left: 1em;
      text-align: left;
      font-family: 'Intro';
      font-size: 1.5em;
    }

    &__string {
      display: block;
      font-family: 'Myriad Pro';
      font-size: .9em;
      font-weight: 100;
      line-height: 1.9em;

      &_head {
        text-transform: uppercase;
      }
    }

    &__cell {
      display: inline-block;
      width: 2.5em;
      text-align: right;

      &_off {
        color: rgba(255, 255, 255, 0.3);
      }

      &_active {
        position: relative;
        transform: skewY(-18deg);
        color: red;

        &:before {
          position: absolute;
          top: .3em;
          left: 1.4em;
          width: 50%;
          height: 80%;
          margin: 0 auto;
          content: '';
          background: #ffdd15;
          box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.75);
        }

        span {
          display: block;
          transform: translateZ(0) skewY(18deg);
        }
      }
    }
  }

  &__map {
    position: relative;
    display: block;
    margin-top: 2em;
    border: .5em solid #fff;
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.3);
  }

  &-footer {
    margin-top: 4em;
    text-align: center;
    font-family: 'Intro';

    &__item {
      line-height: 2em;
    }

    &__info {
      display: inline-block;
      margin-right: .2em;
      color: #f6bb1f;
    }

    &__link {
      display: inline-block;
      text-decoration: underline;
      color: #fff;
      font-weight: 100;

      touch-action: none;

      &:focus,
      &:active,
      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

#map {
  width: 100%;
  height: 25em;
}

@media (max-width: 1200px) {
  .calendar {
    &-item {
      &__string {
        font-size: .8em;
      }
    }
  }
}

@media (max-width: 768px) {
  .calendar {
    height: 102em;

    &-item {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 2em;

      &__main {
        padding-left: 0;
        text-align: center;
      }
    }

    &-footer {
      &__item {
        margin-bottom: 1em;
      }
    }
  }
}
