@-webkit-keyframes creatorsAnimation {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@-moz-keyframes creatorsAnimation {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@-o-keyframes creatorsAnimation {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@keyframes creatorsAnimation {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}

.creators {
  position: relative;
  z-index: 200;
  height: 18em;
  margin-top: -2.6em;
  margin-bottom: 10em;
  padding-top: 6em;
  padding-right: 1em;
  padding-left: 1em;
  transform: skewY(-16deg);
  -webkit-animation: creatorsAnimation 180s ease infinite;
  -moz-animation: creatorsAnimation 180s ease infinite;
  -o-animation: creatorsAnimation 180s ease infinite;
  animation: creatorsAnimation 180s ease infinite;
  background: linear-gradient(270deg, #20a2d8, #820cfc, #e322ca, #fc8709, #cf5c08, #cf1c57, #fcbe02, #8ffb0b);
  background-size: 1600% 1600%;

  &__item {
    position: relative;
    display: inline-block;
    width: 24%;
    transform: translateZ(0) skewY(16deg);

    img {
      width: 100%;
    }

    &_two {
      top: 0em;
      left: 1em;
    }

    &_three {
      top: -.2em;
    }

    &_four {
      top: -.2em;
    }
  }

  &__name {
    position: relative;
    position: relative;
    margin: 0 auto;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Intro';
    font-size: 1.5em;
    line-height: 1em;
  }

  &__img {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 13em;
    height: 13em;
    border: .5em solid #fff;
    border-radius: 50%;
    -webkit-box-shadow: 10px 9px 0px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 9px 0px 3px rgba(0,0,0,0.2);
    box-shadow: 10px 9px 0px 3px rgba(0,0,0,0.2);

    img {
      width: 100%;
    }
  }
}

@media (max-width: 760px) {
  .creators {
    height: auto;
    padding-top: 5em;
    &__item {
      width: 45%;
      margin-bottom: 2em;
    }
  }
}
