.github-corner {
  cursor: pointer; }

.github-corner:hover .octo-arm {
  -webkit-animation: octocat-wave 560ms ease-in-out;
  animation: octocat-wave 560ms ease-in-out; }

@-webkit-keyframes octocat-wave {
  0%,
	100% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  20%,
	60% {
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg); }
  40%,
	80% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); } }
@keyframes octocat-wave {
  0%,
	100% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  20%,
	60% {
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg); }
  40%,
	80% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); } }
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    -webkit-animation: none;
    animation: none; }

  .github-corner .octo-arm {
    -webkit-animation: octocat-wave 560ms ease-in-out;
    animation: octocat-wave 560ms ease-in-out; } }
/* Header */
@media screen and (max-width: 40em) {
  .codrops-header {
    padding: 2em 3vw; }

  .codrops-header h1 {
    font-size: 2.8em; }

  .section {
    width: 100%;
    margin: 0;
    padding: 0 3vw; } }
.svg-filters {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px; }

.button--1, .button--1 .button__bg, .button--2, .button--4, .button--4 .button__bg, .button--5, .button--6, .button--7, .button--8, .button--9, .button--10 {
  -webkit-transition: background-color 0.1s ease-out;
  -moz-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;

  -webkit-font-smoothing: antialiased;}
  .button--1:hover, .button--1 .button__bg:hover, .button--2:hover, .button--4:hover, .button--4 .button__bg:hover, .button--5:hover, .button--6:hover, .button--7:hover, .button--8:hover, .button--9:hover, .button--10:hover {
    color: #fff; }
  .button--1:focus, .button--1 .button__bg:focus, .button--2:focus, .button--4:focus, .button--4 .button__bg:focus, .button--5:focus, .button--6:focus, .button--7:focus, .button--8:focus, .button--9:focus, .button--10:focus {
    color: #fff;
    outline: none;}

.safari .button, .safari
.button__bg {
  -webkit-filter: none !important;
  filter: none !important; }

.button--2 {
  position: relative;
  z-index: 0;
  outline: 90px solid transparent !important;
  background-color: transparent; }
  .button--2 .left, .button--2 .right {
    position: absolute;
    z-index: -2;
    top: 50%;
    width: 25px;
    height: 25px;
    margin-top: -12px;
    -webkit-transition: background 0.1s ease-out;
    -moz-transition: background 0.1s ease-out;
    transition: background 0.1s ease-out;
    border-radius: 15px;
    background: #222;}
    .button--2 .left.left, .button--2 .right.left {
      left: 0; }
    .button--2 .left.right, .button--2 .right.right {
      right: 0; }
  .button--2:hover {
    background-color: transparent; }
    .button--2:hover:before, .button--2:hover span {
      background-color: #fede8a;
      }

@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0); }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg); } }

/*# sourceMappingURL=main.css.map */
