@-webkit-keyframes galleryAnimation {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@-moz-keyframes galleryAnimation {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@-o-keyframes galleryAnimation {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@keyframes galleryAnimation {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}

.gallery {
  position: relative;
  height: 17em;
  margin-top: -12.7em;
  padding-top: 7em;
  transform: skewY(23deg);
  -webkit-animation: galleryAnimation 180s ease infinite;
  -moz-animation: galleryAnimation 180s ease infinite;
  -o-animation: galleryAnimation 180s ease infinite;
  animation: galleryAnimation 180s ease infinite;
  text-align: center;
  color: #fff;
  background:
    radial-gradient(circle at 94.71% 5.04%, #9b238d, transparent 65%),
    radial-gradient(circle at 8.97% 17.51%, #5623a4, transparent 95%),
    radial-gradient(circle at 4.03% 90.05%, #4423ab, transparent 95%),
    radial-gradient(circle at 92.98% 92.04%, #802396, transparent 95%),
    radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%);
  background: linear-gradient(to right, #4423ab, #9a238d);
  background: linear-gradient(270deg, #4423ab, #9b238d, #a3440d, #9c123e, #31b80a, #187699);
  background-size: 1200% 1200%;

  &__main {
    transform: skewY(-23deg);
    text-transform: uppercase;
    text-shadow: 10px 10px 0px rgba(0, 0, 0, .4);
    font-family: 'Intro Inline';
    font-size: 3.5em;
    font-weight: 100;

    text-rendering: optimizeLegibility;
  }
}

@media (max-width: 760px) {
  .gallery {
    height: 13em;
    padding-top: 8em;
    transform: skewY(46deg);

    &__main {
      transform: skewY(-46deg);
      font-size: 2em;
    }
  }
}
