.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding-top: 1em;
  padding-bottom: .3em;
  color: #ffdd15;
  background: rgba(0, 0, 0, .5);

  &__age {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    height: 2.3em;
    text-align: center;
    vertical-align: top;
    color: #7c7c7c;
    border: 1px solid #7c7c7c;
    border-radius: 50%;
    font-size: .8em;
    line-height: 2.3em;
  }

  &-mobile {
    display: none;

    ul {
      display: none;
    }
  }

  &-menu {
    display: inline-block;
    margin-top: -.5em;
    margin-right: 5em;
    list-style-type: none;
    vertical-align: middle;

    &__item {
      display: inline-block;
      margin: 0 .5em;
    }

    &__link {
      text-decoration: none;
      text-transform: uppercase;
      color: #ffdd15;
      font-family: 'Intro';
      font-size: .9em;
      font-weight: 100;

      &:hover {
        text-decoration: none;
        color: #f23034;
        border-bottom: 3px solid #f23034;
      }
    }
  }

  &-buy {
    display: inline-block;
    margin-right: 5em;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;

    &__btn {
      position: relative;
      padding: .7em 1em;
      text-decoration: none;
      text-transform: uppercase;
      color: #000000;
      border-radius: 3px;
      background: #fede8a; /* Old browsers */
      background: -moz-linear-gradient(top, #fede8a 0%, #feba46 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #fede8a 0%,#feba46 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #fede8a 0%,#feba46 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      font-family: 'Intro';
      line-height: 1em;

      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fede8a', endColorstr='#feba46',GradientType=0 ); /* IE6-9 */

      &:before {
        position: absolute;
        top: .3em;
        right: 0;
        left: 0;
        width: 90%;
        height: 1.7em;
        margin: 0 auto;
        content: '';
        border-radius: 3px;
        background: rgba(255, 255, 255, .5);
      }

      &:hover {
        text-decoration: none;
        color: #000;
      }

      i {
        position: relative;
        color: #000;
        font-style: normal;
      }

      span {
        position: relative;
        color: #f23034;
        font-weight: bold;
      }

      .button__bg {
        font-family: Arial;
      }
    }

    &__info {
      padding-top: 1.4em;
      letter-spacing: .2em;
      text-transform: uppercase;
      color: #fff;
      font-family: 'Myriad Pro';
      font-size: .8em;
      font-weight: 100;
    }
  }

  &-social {
    display: inline-block;
    vertical-align: top;

    &__vk,
    &__instagram {
      display: inline-block;
      width: 1.7em;
      height: 1.7em;
      margin: 0 .2em;
    }

    &__vk {
      background: url('../img/vk.png') no-repeat;
      background-size: contain;
    }

    &__instagram {
      background: url('../img/instagram.png') no-repeat;
      background-size: contain;
    }
  }
}

@media (max-width: 768px) {
  .header {
    right: 0;
    left: 0;
    margin: 0 auto;
    padding-top: 1em;
    text-align: center;

    &-mobile {
      position: fixed;
      z-index: 50;
      top: 0;
      left: 0;
      width: 100%;
      height: 14em;
      background: #ffdf00;

      &:after {
        position: absolute;
        z-index: -10;
        bottom: -6em;
        left: 0;
        width: 100%;
        height: 15em;
        content: '';
        transform: skewY(16deg);
        background: #ffdf00;
      }

      ul {
        margin-top: 2em;
        padding-left: 0;
        list-style-type: none;
        text-align: center;
        display: block;

        a {
          display: block;
          margin-bottom: 2em;
          text-decoration: none;
          text-transform: uppercase;
          color: #ff3203;
          font-family: 'Intro';
          font-size: 1.2em;
        }
      }

      &__social {
        position: relative;
        z-index: -50;
        top: -3em;
        right: 0;
        left: 0;
        height: 15em;
        margin: 0 auto;
        text-align: center;
        background: #ffca00;

        &:after {
          position: absolute;
          z-index: -10;
          bottom: -7em;
          left: 0;
          width: 100%;
          height: 14em;
          content: '';
          transform: skewY(-16deg);
          background: #ffca00;
        }
      }

      &__close {
        position: absolute;
        top: .5em;
        left: .5em;
        width: 3em;
        height: 3em;
        background: url('../img/mobile-close.png') no-repeat;
      }

      &__vk {
        position: relative;
        top: 12em;
        display: inline-block;
        width: 3em;
        height: 3em;
        margin: 0 .5em;
        background: url('../img/vk-mobile.png') no-repeat;
        background-size: contain;
      }

      &__instagram {
        position: relative;
        top: 12em;
        display: inline-block;
        width: 3em;
        height: 3em;
        margin: 0 .5em;
        background: url('../img/instagram-mobile.png') no-repeat;
        background-size: contain;
      }

      &__menu {
        position: absolute;
        top: .5em;
        left: 1em;
        width: 2.3em;
        height: 2.3em;
        background: url('../img/header-menu.png') no-repeat;
        background-size: contain;
      }
    }

    &__age {
      display: none;
    }

    &-buy {
      margin: 0 auto;
      text-align: center;
    }

    &-menu {
      display: none;
    }

    &-social {
      display: none;
    }
  }
}
