.main {
  position: fixed;
  height: 30em;

  video {
    width: 80%;
    margin-left: 7%;
  }

  &-block {
    position: relative;
    margin-top: 33em;
    margin-left: 10em;

    &__musical {
      position: absolute;
      z-index: 0;
      top: 2.5em;
      left: -3em;
      transform: rotate(-90deg);
      text-transform: uppercase;
      color: #ffdd15;
      font-family: 'Intro';
      font-size: 2.5em;
    }

    &__name {
      position: absolute;
      left: 0;
      display: inline-block;
      text-transform: uppercase;
      color: #fff;
      font-family: 'Intro';
      font-size: 8em;
      line-height: 1em;

      span {
        position: absolute;
        z-index: 100;
        top: 1em;
        left: 0;
        text-shadow: 10px 10px 0px rgba(0, 0, 0, .4);
      }
    }
  }
}

@media (min-width: 1700px) {
  .main {
    video {
      margin-left: 0;
    }
  }
}

@media (max-width: 1000px) {
  .main {
    video {
      width: 100%;
      margin-left: 0;
    }

    &-block {
      &__name {
        font-size: 7em;
      }
    }
  }
}

@media (max-width: 760px) {
  .main {
    height: auto;

    video {
      width: 150%;
      margin-left: -5em;
    }

    &-block {
      margin: 0 auto;
      margin-top: 25em;

      &__name {
        right: 0;
        left: 0;
        margin: 0 auto;
        margin-top: -1em;
        text-align: center;
        font-size: 3em;

        span {
          right: 0;
          left: 0;
          margin: 0 auto;
          text-align: center;
        }
      }

      &__musical {
        left: 0;
        margin-top: -3.3em;
        font-size: 1em;
      }
    }
  }
}
