@-webkit-keyframes photosAnimation {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@-moz-keyframes photosAnimation {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@-o-keyframes photosAnimation {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@keyframes photosAnimation {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}

.photos {
  position: relative;
  z-index: 200;
  height: 30em;
  margin-top: -2.6em;
  margin-bottom: 10em;
  padding-top: 9em;
  padding-right: 1em;
  padding-left: 1em;
  transform: skewY(-16deg);
  -webkit-animation: photosAnimation 180s ease infinite;
  -moz-animation: photosAnimation 180s ease infinite;
  -o-animation: photosAnimation 180s ease infinite;
  animation: photosAnimation 180s ease infinite;
  background: linear-gradient(270deg, #e322ca, #fc8709, #cf5c08, #cf1c57, #fcbe02, #8ffb0b, #20a2d8, #820cfc);
  background-size: 1600% 1600%;

  &-video {
    display: block;
    width: 26em;
    height: 14em;
    margin: 0 auto;
    margin-top: -15em;
    cursor: pointer;
    transform: translateZ(0) skewY(16deg);
    text-decoration: none;
    color: #fff;
    outline: none;
    background: url('../img/video.png') no-repeat;
    background-size: contain;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      color: #fff;
      outline: none;
    }

    &__btn {
      margin-top: 1.5em;
      margin-bottom: 1em;
      margin-left: 2em;
    }

    &__info {
      margin-left: 2em;
      text-shadow: 8px 8px 0px rgba(0, 0, 0, .3);
      font-family: 'Intro';
    }
  }

  &__item {
    transform: translateZ(0) skewY(16deg);

    &_1 {
      position: absolute;
      top: 4em;
      left: 6em;
      width: 8em;

      img {
        width: 100%;
        box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.3);
      }
    }

    &_2 {
      position: absolute;
      right: 4em;
      width: 8em;

      img {
        width: 100%;
        box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.3);
      }
    }

    &_3 {
      position: absolute;
      z-index: 10;
      top: 13em;
      left: 16em;
      width: 8em;

      img {
        width: 100%;
        box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.3);
      }
    }

    &_4 {
      position: absolute;
      top: 12em;
      right: 0;
      left: 0;
      width: 15em;
      margin: 0 auto;

      img {
        width: 100%;
        box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.3);
      }
    }

    &_5 {
      position: absolute;
      z-index: 10;
      top: 20em;
      right: 4em;
      width: 15em;

      img {
        width: 100%;
        box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.3);
      }
    }

    &_6 {
      position: absolute;
      z-index: 10;
      top: 30em;
      right: 2em;
      width: 8em;

      img {
        width: 100%;
        box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.3);
      }
    }

    &_7 {
      position: absolute;
      top: 15em;
      left: 4em;
      width: 15em;

      img {
        width: 100%;
        box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.3);
      }
    }

    &_8 {
      position: absolute;
      z-index: 10;
      top: 28em;
      left: 22em;
      width: 8em;

      img {
        width: 100%;
        box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.3);
      }
    }

    &_9 {
      position: absolute;
      top: 28em;
      left: 28em;
      width: 15em;

      img {
        width: 100%;
        box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.3);
      }
    }

    &_10 {
      position: absolute;
      z-index: 10;
      top: 28em;
      left: 7em;
      width: 8em;

      img {
        width: 100%;
        box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

#swipebox-overlay {
  background: rgba(0, 0, 0, .8);
}

@media (max-width: 768px) {
  .photos {
    height: auto;
    padding-bottom: 5em;
    &-video {
      width: 100%;
      margin-top: -10em;
    }

    &-slider {
      transform: translateZ(0) skewY(16deg);
    }

    &__item {
      position: relative;
      transform: translateZ(0) skewY(0deg);
      top: 0;
      right: 0;
      left: 0;
      width: 90%;
      margin: 0 auto;
      margin-left: 1em;
      margin-right: 1em;
    }
  }
}
