@-webkit-keyframes showAnimation {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@-moz-keyframes showAnimation {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@-o-keyframes showAnimation {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@keyframes showAnimation {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}

.show {
  position: relative;
  z-index: 10;
  height: 42em;
  margin-top: 42em;
  padding-top: 6em;
  transform: skewY(-16deg);
  -webkit-animation: showAnimation 180s ease infinite;
  -moz-animation: showAnimation 180s ease infinite;
  -o-animation: showAnimation 180s ease infinite;
  animation: showAnimation 180s ease infinite;
  background: linear-gradient(270deg, #fcbe02, #8ffb0b, #20a2d8, #820cfc, #e322ca, #fc8709, #cf5c08, #cf1c57);
  background-size: 1600% 1600%;

  perspective: 1px;

  .block {
    transform: translateZ(0) skewY(16deg);
  }

  &__main {
    margin-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
    color: #d40000;
    font-family: 'Intro';
    font-size: 1.5em;
    font-weight: bold;
  }

  &__text {
    padding-right: 6em;
    padding-left: 10em;
    font-family: 'Myriad Pro';
    font-weight: 100;
    line-height: 1.5em;
  }

  &__info {
    display: block;
    width: 25.5em;
    margin-left: 9em;
    padding: 0 .5em;
    background: #fff;
    -webkit-box-shadow: 10px 9px 0px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 9px 0px 3px rgba(0,0,0,0.2);
    box-shadow: 10px 9px 0px 3px rgba(0,0,0,0.2);
    font-family: 'Myriad Pro';
    font-size: 1.4em;
    font-weight: bold;
    line-height: 2em;

    &_pad {
      width: 20em;
      margin-top: -1.05em;
      margin-left: 6em;
      box-shadow: 10px 16px 0px 3px rgba(0,0,0,0.2);
    }

    &_last {
      margin-top: -1em;
      margin-left: 12em;
    }
  }
}

@keyframes stretch {
  0% {
    bottom: -11em;
  }
  100% {
    bottom: -12em;
  }
}

@keyframes stretch-2 {
  0% {
    bottom: -15em;
  }
  100% {
    bottom: -16em;
    left: 39em;
  }
}

@keyframes stretch-3 {
  0% {
    bottom: -16em;
    left: 17em;
  }
  100% {
    bottom: -16em;
    left: 17.2em;
  }
}

.butterfly-block {
  position: absolute;
  bottom: -40em;
}

#trigger {
  background-position: 0 0;
}

.butterfly {
  position: absolute;

  &-1 {
    position: absolute;
    bottom: -10em;
    left: 2em;
  }

  &-2 {
    bottom: -15em;
    left: 40em;
  }

  &-3 {
    bottom: -17em;
    left: 16em;
  }

  &-4 {
    z-index: 50;
    bottom: -20em;
    left: 45em;
  }

  &-5 {
    bottom: -10em;
    left: 35em;
  }

  &-6 {
    bottom: -10em;
    left: 50em;
  }

  &-7 {
    bottom: -28em;
    left: 25em;
  }

  &-8 {
    bottom: -32em;
    left: 0;
  }

  &-9 {
    bottom: -8em;
    left: 40em;
  }
}

@media (max-width: 1200px) {
  .butterfly {
    img {
      width: 70%;
    }
  }
}

@media (max-width: 1000px) {
  .show {
    height: auto;
    padding-bottom: 5em;

    &__info {
      margin-left: 7em;

      &_pad {
        margin-left: 4em;
      }
    }
  }
}

@media (max-width: 760px) {
  .show {
    margin-top: 3.5em;
    padding-top: 4em;

    &__main {
      font-size: 1.9em;
    }

    &__info {
      display: none;
    }

    &__text {
      padding-right: 1em;
      padding-left: 1em;

      &_hiden {
        display: none;
      }
    }
  }

  .butterfly {
    display: none;
  }
}
