@-webkit-keyframes whereAnimation {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@-moz-keyframes whereAnimation {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@-o-keyframes whereAnimation {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@keyframes whereAnimation {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}

.where {
  position: relative;
  height: 18.1em;
  margin-top: -14.8em;
  padding-top: 8em;
  transform: skewY(23deg);
  -webkit-animation: whereAnimation 180s ease infinite;
  -moz-animation: whereAnimation 180s ease infinite;
  -o-animation: whereAnimation 180s ease infinite;
  animation: whereAnimation 180s ease infinite;
  text-align: center;
  color: #fff;
  background: linear-gradient(270deg, #a3440d, #9c123e, #31b80a, #187699, #4423ab, #9b238d);
  background-size: 1200% 1200%;

  &__main {
    transform: skewY(-23deg);
    text-transform: uppercase;
    text-shadow: 10px 10px 0px rgba(0, 0, 0, .4);
    font-family: 'Intro Inline';
    font-size: 3.5em;
    font-weight: 100;

    text-rendering: optimizeLegibility;
  }
}

@media (max-width: 760px) {
  .where {
    height: 13em;
    margin-top: -14.5em;
    padding-top: 8em;
    transform: skewY(46deg);

    &__main {
      transform: skewY(-46deg);
      font-size: 2em;
    }
  }
}
