include variables/_variables

doctype
html
  head
    include components/_header
    title #{titleHome}

  body
  
    .container

      include components/_head
      
      include components/_main
      
      include components/_show
      
      include components/_artists
      
      include components/_creators
      
      include components/_gallery
      
      include components/_photos
      
      include components/_where
      
      include components/_calendar

      include components/_footer
  
    include components/_scripts
