@font-face {
	font-family: 'Myriad Pro';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/MyriadPro-Regular.eot');
	src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
		url('../fonts/MyriadPro-Regular.woff') format('woff'),
		url('../fonts/MyriadPro-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Intro Inline';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/Intro-Inline.eot');
	src: url('../fonts/Intro-Inline.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Intro-Inline.woff2') format('woff2'),
		url('../fonts/Intro-Inline.woff') format('woff'),
		url('../fonts/Intro-Inline.ttf') format('truetype');
}

@font-face {
	font-family: 'Intro';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/Intro.eot');
	src: url('../fonts/Intro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Intro.woff2') format('woff2'),
		url('../fonts/Intro.woff') format('woff'),
		url('../fonts/Intro.ttf') format('truetype');
}

body {
	position: relative;
  background: #000000;
  font-size: 20px;

	&:after {
		position: fixed;
		z-index: -10;
		top: 0;
		width: 100%;
		height: 100%;
		content: '';
	}
}

.container {
	overflow: hidden;
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
	body {
		font-size: 18px;
	}

	.container {
		width: 1000px;
	}
}

@media (max-width: 1000px) {
	body {
		font-size: 14px;
	}

	.container {
		width: 800px;
	}
}

@media (max-width: 800px) {
	body {
		font-size: 12px;
	}

	.container {
		width: 700px;
	}
}

@media (max-width: 768px) {
	body {
		font-size: 16px;
	}
	.container {
		width: 100%;
	}
}
