section.calendar
  .block
  
    .calendar-item
      .calendar-item__main Апрель
      .calendar-item__string.calendar-item__string_head
        .calendar-item__cell Пн
        .calendar-item__cell Вт
        .calendar-item__cell Ср
        .calendar-item__cell Чт
        .calendar-item__cell Пт
        .calendar-item__cell Сб
        .calendar-item__cell Вс
      .calendar-item__string
        .calendar-item__cell.calendar-item__cell_off 26
        .calendar-item__cell.calendar-item__cell_off 27
        .calendar-item__cell.calendar-item__cell_off 28
        .calendar-item__cell.calendar-item__cell_off 29
        .calendar-item__cell.calendar-item__cell_off 31
        .calendar-item__cell 1 
        .calendar-item__cell 2
      .calendar-item__string
        .calendar-item__cell 3
        .calendar-item__cell 4
        .calendar-item__cell 5
        .calendar-item__cell 6
        .calendar-item__cell.calendar-item__cell_active
          span 7
        .calendar-item__cell 8
        .calendar-item__cell 9
      .calendar-item__string
        .calendar-item__cell 10
        .calendar-item__cell 11
        .calendar-item__cell 12
        .calendar-item__cell.calendar-item__cell_active
          span 13
        .calendar-item__cell.calendar-item__cell_active
          span 14
        .calendar-item__cell 15
        .calendar-item__cell 16
      .calendar-item__string
        .calendar-item__cell 17
        .calendar-item__cell 18
        .calendar-item__cell 19
        .calendar-item__cell 20
        .calendar-item__cell 21
        .calendar-item__cell 22
        .calendar-item__cell 23
      .calendar-item__string
        .calendar-item__cell 24
        .calendar-item__cell 25
        .calendar-item__cell 26
        .calendar-item__cell 27
        .calendar-item__cell 28
        .calendar-item__cell 29
        .calendar-item__cell 30
  
    .calendar-item
      .calendar-item__main Май
      .calendar-item__string.calendar-item__string_head
        .calendar-item__cell Пн
        .calendar-item__cell Вт
        .calendar-item__cell Ср
        .calendar-item__cell Чт
        .calendar-item__cell Пт
        .calendar-item__cell Сб
        .calendar-item__cell Вс
      .calendar-item__string
        .calendar-item__cell 1
        .calendar-item__cell 2
        .calendar-item__cell 3
        .calendar-item__cell 4
        .calendar-item__cell 5
        .calendar-item__cell 6 
        .calendar-item__cell 7
      .calendar-item__string
        .calendar-item__cell 8
        .calendar-item__cell 9
        .calendar-item__cell 10
        .calendar-item__cell 11
        .calendar-item__cell.calendar-item__cell_active
          span 12
        .calendar-item__cell 13
        .calendar-item__cell 14
      .calendar-item__string
        .calendar-item__cell 15
        .calendar-item__cell 16
        .calendar-item__cell 17
        .calendar-item__cell.calendar-item__cell_active
          span 18
        .calendar-item__cell.calendar-item__cell_active
          span 19
        .calendar-item__cell 20
        .calendar-item__cell 21
      .calendar-item__string
        .calendar-item__cell 22
        .calendar-item__cell 23
        .calendar-item__cell 24
        .calendar-item__cell 25
        .calendar-item__cell 26
        .calendar-item__cell 27
        .calendar-item__cell 28
      .calendar-item__string
        .calendar-item__cell 29
        .calendar-item__cell 30
        .calendar-item__cell 31
        .calendar-item__cell.calendar-item__cell_off 1
        .calendar-item__cell.calendar-item__cell_off 2
        .calendar-item__cell.calendar-item__cell_off 3
        .calendar-item__cell.calendar-item__cell_off 4
        
    .calendar-item
      .calendar-item__main Июнь
      .calendar-item__string.calendar-item__string_head
        .calendar-item__cell Пн
        .calendar-item__cell Вт
        .calendar-item__cell Ср
        .calendar-item__cell Чт
        .calendar-item__cell Пт
        .calendar-item__cell Сб
        .calendar-item__cell Вс
      .calendar-item__string
        .calendar-item__cell 29
        .calendar-item__cell 30
        .calendar-item__cell 31
        .calendar-item__cell 1
        .calendar-item__cell 2
        .calendar-item__cell 3 
        .calendar-item__cell 4
      .calendar-item__string
        .calendar-item__cell 5
        .calendar-item__cell 6
        .calendar-item__cell 7
        .calendar-item__cell 8
        .calendar-item__cell.calendar-item__cell_active
          span 9
        .calendar-item__cell 10
        .calendar-item__cell 11
      .calendar-item__string
        .calendar-item__cell 12
        .calendar-item__cell 13
        .calendar-item__cell 14
        .calendar-item__cell.calendar-item__cell_active
          span 15
        .calendar-item__cell.calendar-item__cell_active
          span 16
        .calendar-item__cell 17
        .calendar-item__cell 18
      .calendar-item__string
        .calendar-item__cell 19
        .calendar-item__cell 20
        .calendar-item__cell 21
        .calendar-item__cell 22
        .calendar-item__cell 23
        .calendar-item__cell 24
        .calendar-item__cell 25
      .calendar-item__string
        .calendar-item__cell 26
        .calendar-item__cell 27
        .calendar-item__cell 28
        .calendar-item__cell 29
        .calendar-item__cell 30
        .calendar-item__cell.calendar-item__cell_off 1
        .calendar-item__cell.calendar-item__cell_off 2
            
    .calendar__map
      #map
      
    .calendar-footer
      .calendar-footer__item
        .calendar-footer__info По вопросам гастролей:
        a(href="tel:89633161661", touch-action="none").calendar-footer__link +7 963 316 16 61
      .calendar-footer__item
        .calendar-footer__info Администратор:
        a(href="mailto:musicalkorabl@gmail.com").calendar-footer__link musicalkorabl@gmail.com
      .calendar-footer__item
        .calendar-footer__info По вопросам сотрудничества, рекламы и PR:
        a(href="tel:89216541353").calendar-footer__link +7 921 654 13 53
