section.creators#creators
  .block

    .creators__item
      img(src="img/dunaevsky.png", alt="")
        
    .creators__item.creators__item_two
      img(src="img/entin.png", alt="")

    .creators__item.creators__item_three
      img(src="img/druzhinin.png", alt="")

    .creators__item.creators__item_four
      img(src="img/vladimirov.png", alt="")
