header.header
  .block
    .header-mobile__menu
    .header__age 12+
    ul.header-menu
      li.header-menu__item
        a(href="#about", touch-action="none").header-menu__link О мюзикле
      li.header-menu__item
        a(href="#creators", touch-action="none").header-menu__link Создатели
      li.header-menu__item
        a(href="#gallery", touch-action="none").header-menu__link Галерея
      li.header-menu__item
        a(href="#contacts", touch-action="none").header-menu__link Где и когда
      
    .header-buy
      a(href="#").header-buy__btn.component-2.button.button--2
        span.button__bg #
        i Купить
        span Билет
      
      .header-buy__info Без наценки
    
    svg.svg-filters(xmlns='http://www.w3.org/2000/svg', version='1.1')
      defs
        filter#filter-goo-2
          fegaussianblur(in='SourceGraphic', stddeviation='7', result='blur')
            fecolormatrix(in='blur', mode='matrix', values='1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9', result='goo')
              fecomposite(in='SourceGraphic', in2='goo')

      
    .header-social
      a(href="#").header-social__vk.component-1.button.button--2
      
      a(href="#").header-social__instagram.component-3.button.button--2

  .header-mobile
    .header-mobile__close
    ul
      li
        a(href="#about") О мюзикле
      li
        a(href="#creators") Создатели
      li
        a(href="#gallery") Галерея
      li
        a(href="#contacts") Где и когда
        
    .header-mobile__social
      a(href="").header-mobile__vk
      a(href="").header-mobile__instagram
