.main
  .block
    video(playsinline='', autoplay='', muted='')
      source(src='web-intro.mp4', type='video/mp4')
      source(src='web-intro.webm', type='video/webm')
    
.main-block
  .main-block__musical Мюзикл
  .main-block__name
    | Летучий
    span корабль
