section.photos#gallery
  .block
    a(href="//www.youtube.com/watch?v=npxbtn5ILZ8", rel="youtube").swipebox-video.photos-video
      img(src="img/video-btn.png", alt="").photos-video__btn
      .photos-video__info Смотреть <br>видео
  
    .photos-slider
      a(href="img/photos-1.jpg").photos__item.photos__item_1.swipebox
        img(src="img/photos-1.jpg", alt="")
      a(href="img/photos-2.jpg").photos__item.photos__item_2.swipebox
        img(src="img/photos-2.jpg", alt="")
      a(href="img/photos-3.jpg").photos__item.photos__item_3.swipebox
        img(src="img/photos-3.jpg", alt="")
      a(href="img/photos-4.jpg").photos__item.photos__item_4.swipebox
        img(src="img/photos-4.jpg", alt="")
      a(href="img/photos-5.jpg").photos__item.photos__item_5.swipebox
        img(src="img/photos-5.jpg", alt="")
      a(href="img/photos-6.jpg").photos__item.photos__item_6.swipebox
        img(src="img/photos-6.jpg", alt="")
      a(href="img/photos-7.jpg").photos__item.photos__item_7.swipebox
        img(src="img/photos-7.jpg", alt="")
      a(href="img/photos-8.jpg").photos__item.photos__item_8.swipebox
        img(src="img/photos-8.jpg", alt="")
      a(href="img/photos-9.jpg").photos__item.photos__item_9.swipebox
        img(src="img/photos-9.jpg", alt="")
      a(href="img/photos-10.jpg").photos__item.photos__item_10.swipebox
        img(src="img/photos-10.jpg", alt="")
