//- JQUERY >= 2.0.0 not supported IE < 9

script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.4/js/jquery.swipebox.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js')
script(src='//api-maps.yandex.ru/2.1/?lang=ru_RU')
script(src='js/modules.js')
script(src='js/main.js')
