section.show#about
  .block
    h2.show__main Яркое шоу о любви и мечте
    p.show__text Осенью в Петербурге состоялась грандиозная премьера шоу-мюзикла «Летучий корабль»!
    p.show__text Несмотря на то, что в основе идеи лежит всеми любимый одноимённый мультфильм, это взрослая история о любви и мечте, поставленная одним из лучших режиссёров мюзиклов в России - Егором Дружининым. Знакомые всем песни, море юмора и, конечно, потрясающие танцевальные номера! 
    p.show__info Сергея Мигицко вы увидите в роли харизматичного
    p.show__info.show__info_pad Водяного, а звезду московских мюзиклов,
    p.show__info.show__info_last неподражаемую Анастасию Стоцкую в роли Забавы. 
    p.show__text.show__text_hiden Благодаря тому, что авторы дополнили сюжет, создали классные аранжировки, придумали невероятные декорации и костюмы, получилась замечательная история, где к любимым персонажам добавились жабы, русалки, принцы, охранники и Человек – Пирожок. Бабки-Ёжки поют рок-н-ролл, а Водяной исполняет французский джаз. Музыкальная и очень смешная сказка для взрослых. 
    p.show__text.show__text_hiden Помимо известных хитов, прозвучат новые композиции Юрия Энтина и Максима Дунаевского.
    
    .butterfly-block
      .butterfly.butterfly-1.butterfly_one
        img(src="img/butterfly-1.png", alt="")
      .butterfly.butterfly-2.butterfly_one
        img(src="img/butterfly-2.png", alt="")
      .butterfly.butterfly-3.butterfly_one
        img(src="img/butterfly-3.png", alt="")
      .butterfly.butterfly-4.butterfly_two
        img(src="img/butterfly-4.png", alt="")
      .butterfly.butterfly-5.butterfly_three
        img(src="img/butterfly-5.png", alt="")
      .butterfly.butterfly-6.butterfly_three
        img(src="img/butterfly-6.png", alt="")
      .butterfly.butterfly-7.butterfly_four
        img(src="img/butterfly-7.png", alt="")
      .butterfly.butterfly-8.butterfly_four
        img(src="img/butterfly-8.png", alt="")
      .butterfly.butterfly-9.butterfly_three
        img(src="img/butterfly-9.png", alt="")
